/* ------------------------------------ */
/* Allgemein */
/* ------------------------------------ */

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  padding-bottom: 150px; /* Add padding equal to footer height */
}

h1 {
  padding-top: 40px;
  font-size: 40px;
}

h2 {
  font-size: 20px;
  font-weight: 700;
  color: #272DCA;
  margin-top: 2rem;
  margin-bottom: 0.3rem;  /* kleiner Abstand unter dem Titel */
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

p {
text-align: justify;
font-family: Arial, Helvetica, sans-serif;
font-size: 40px;
font-style: normal;
font-weight: 400;
}

.med-behandlung p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  text-align: left; /* Ändere auf "left" statt "justify" */
  margin: 0 0 2rem 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 100%;
  padding: 0 0.5rem;
  box-sizing: border-box;
}

/* ------------------------------------ */
/* Header */
/* ------------------------------------ */

header {
  position: relative;
  text-align: center;
  padding: 3rem 0 0.5rem;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.info-button {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.next-button{
  position: absolute;
  font-size: 30px;
  right: 1rem;
  top: 3rem;
  color: #3b3bbf;
  text-decoration: none;
  font-weight: bold;
}

.back-button {
  position: absolute;
  font-size: 30px;
  left: 1rem;
  top: 3rem;
  color: #3b3bbf;
  text-decoration: none;
  font-weight: bold;
}

.header-line {
  margin-top: 1rem;
  height: 3px;
  background-color: #3b3bbf; /* Blau */
  width: 100%;
}

/* ------------------------------------ */
/* Footer */
/* ------------------------------------ */

footer {
  border-top: 2px solid #4A2ACC;
  background-color: #E9EAFA;
  padding: 15px 0px 30px 0px;
  height: 150px;
  display: flex;
  align-items: center;     /* vertikal zentriert die .footer-nav */
  justify-content: center; /* zentriert horizontal */
}

.footer-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  line-height: 0.5;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
}


.nav-item {
  display: flex;
  color: #272DCA;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  flex: 1; /* Gleicher Platz für alle Navigationspunkte */
  text-align: center; /* Zentriert den Text innerhalb des flex-Containers */
}

.nav-item img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}


.SaveButtons, #medbehandlung2-form {
  margin-top: 80px;
  display: flex;
  flex-direction: column; /* Buttons untereinander anordnen */
  align-items: center;    /* Buttons horizontal zentrieren */
  justify-content: center; /* Buttons vertikal zentrieren */
  gap: 2rem;              /* Abstand zwischen den Buttons */
}

.btnSave, #saveAndNextBtn{
  background-color: #272DCA;
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding: 3rem 6rem;     
  border: none;
  border-radius: 40px;  
  cursor: pointer;
}

.btnSaveBack, #saveAndExitBtn{
  color: #272DCA;
  background-color: transparent;
  border: none;
  font-size: 40px;
  font-weight: bold;
}

.finish-button {
  background-color: rgb(65, 57, 57) !important;  /* TESTFARBE */
  color: white !important;
  font-size: 20px !important;
  font-weight: bold;
  border-radius: 14px;
  height: 54px;
  width: 191px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}


/* ------------------------------------ */
/* Login & Register */
/* ------------------------------------ */

.loginHeader, .registerHeader{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.logoHerz {
  margin-top: 300px;
  display: flex;
  justify-content: center;
}

#loginForm, #registerForm {
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.loginPassword p, .loginEmail p, .registerEmail p, .registerPassword p {
  font-size: 40px;
  margin-bottom: 15px;
  margin-top: 50px;
}

.loginPassword input, .loginEmail input, .registerPassword input, .registerEmail input {
  border: #272DCA;
  border-style: solid;
  border-radius: 25px;
  color: gray;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center; 
  box-sizing: border-box; 
  padding-left: 20px;
}

.btnSubmit, .btnRegister {
  background-color: #272DCA;
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding: 4rem 12rem;
  border: none;
  border-radius: 40px !important;
  cursor: pointer;
  margin: 80px auto 40px auto; /* Zentriert den Button horizontal */
  display: flex;
  align-items: center; /* Zentriert den Inhalt des Buttons */
  justify-content: center; /* Zentriert den Inhalt des Buttons */
}

.btnOtherOption {
  color: #272DCA;
  background-color: transparent;
  border: none;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  text-align: center; /* Text zentrieren */
  display: flex; /* Flexbox verwenden */
  justify-content: center; /* Horizontal zentrieren */
  align-items: center; /* Vertikal zentrieren */
}

/* ------------------------------------ */
/* Übersicht */
/* ------------------------------------ */

.uebersicht{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
} 

ul.list {
  list-style: none;
  padding: 0;
}

ul.list li {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin: 0.5rem auto;
  padding: 0 1rem;
  max-width: 300px; 
  height: 75px;
  background: rgba(39, 45, 202, 0.10);
  border: 1px solid #272DCA;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 700;
  color: #000;
  letter-spacing: -0.38px;
  line-height: 150%; 
  position: relative;
 

}              
  
ul.list li a {
  all: unset;         
  cursor: pointer;      
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 20px;
  font-weight: 700;
  color: inherit;   
  text-decoration: none; 
  display: block;      
  width: 100%;        
} 

form input, textarea {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.zwischenspeicher {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

form textarea {
  background-color: #f3f3f3;
  border-radius: 12px;
  border: 1px solid #ddd;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

button[type="submit"] {
  background-color: #3b3bbf;
  color: white;
  font-weight: bold;
  border-radius: 14px;
  height: 54px;
  width: 191px;
}

/* ------------------------------------ */
/* Personalien */
/* ------------------------------------ */

#personalien{
  padding-left: 50px;
  padding-right: 85px;
}

#personalien input {
  border: #272DCA;
  border-style: solid;
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
  color: gray;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 90px;
}

#personalien p {
  margin-bottom: 15px;
  margin-top: 50px;
}



/* ------------------------------------ */
/* Medizinische Behandlung 2 */
/* ------------------------------------ */

/* #medbehandlung2{
  padding-left: 50px;
  padding-right: 85px;
}

.medbehandlung2_questions {
  font-size: 40px;
}

.question {
  font-size: 40px;
}

.answerMedbehandlung2 {
  font-size: 40px;
  border-radius: 10px;
  padding: 10px 20px ;
  background-color: rgba(39, 44, 202, 0.1);
  border-color: #272DCA;
  border-style: solid;
}

.answerMedbehandlung2:active {
  background-color: #272DCA;
  color: white;
} */


/* ------------------------------------ */
/* Fertig ausgefüllt, Abschluss E-Mail und Abschluss Download */
/* ------------------------------------ */

.fertigHeader, .abschlussHeaderMail, .abschlussHeaderDownload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 30px
}

.fertigHeader p, .abschlussHeaderDownload p {
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
}

.abschlussHeaderMail p {
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 200px
}


.btnEmail, .btnUebersicht {
  background-color: #272DCA;
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding: 3rem 6rem;     
  border: none;
  border-radius: 45px;  
  cursor: pointer;
  margin: 80px auto 40px auto; 
}

.btnDownload{
  color: #272DCA;
  background-color: transparent;
  border: none;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 100px;
}

.btnDownloadPdf {
  background-color: transparent;
  color: #272DCA;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding: 3rem 6rem;     
  border-color: #272DCA;
  border-style: solid;
  border-radius: 45px;  
  cursor: pointer;
  margin-top: 70px;
  margin-bottom: 100px;
}